<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Name: {{ user.last_name }}, {{ user.first_name }}</p>
<p>email: {{ user.email }}</p>
<p>DOB: {{ user.dob }}</p>
<p>Csountry: {{ user.country }}</p>
</body>
</html>